# PyInstaller
build/
dist/
*.spec

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# IDE
.vscode/
.idea/
.DS_Store
view/tempCodeRunnerFile.py

# Web
node_modules/
.env
.env.*
!.env.example
coverage/
*.log
